<div class="tip">
  碎片, 即彩蛋的量化单位. 根据拿到的碎片数量可以兑换VIP(VIP包含匿名评论等功能), 目前碎片数量不多, VIP功能也没想好到底要哪些功能, 先放着~ <br>
  碎片图如果是灰色的, 代表尚未获得该碎片.
</div>
<div class="fragment-container">
  <ng-container *ngFor="let item of fragments;">
    <div class="item" [ngClass]="{'active': item.got}">
      <img [src]="item.img">
      <div class="text-container">
        <div class="title">
          {{item.name}}
        </div>
        <div class="sub-title">
          {{item.describe}}
        </div>
      </div>
    </div>
  </ng-container>
  <!-- 元素不足时补位,弥补flex布局(两端对齐)的痛点 -->
  <ng-container *ngIf="fragments.length % 3 === 2">
    <div class="item" style="opacity: 0"></div>
  </ng-container>
</div>
