<div class="fragment-container">
  <ng-container *ngFor="let item of fragments;let first = first;">
    <div class="item" [ngClass]="{'active': first}">
      <img [src]="item.img">
      <div class="text-container">
        <div class="title">
          {{item.title}}
        </div>
        <div class="sub-title">
          {{item.subTitle}}
        </div>
      </div>
    </div>
  </ng-container>
  <!-- 元素不足时补位,弥补flex布局(两段对齐)的痛点 -->
  <ng-container *ngIf="fragments.length % 3 === 2">
    <div class="item" style="opacity: 0"></div>
  </ng-container>
</div>