<nb-card class="list-card" [nbSpinner]="loading" nbSpinnerMessage="加载中..." nbSpinnerSize="large">
  <nb-card-header>
    <p>{{articleDetail.name}}</p>
    <section class="list-card-info">
      <div>创建时间:{{articleDetail.createTime | date:"yyyy-MM-dd"}}</div>
      <div>修改时间:{{articleDetail.updateTime | date:"yyyy-MM-dd"}}</div>
      <div>点赞数:{{articleDetail.likeAmount}}</div>
      <div>评论数:{{articleDetail.commentAmount}}</div>
      <div>收藏数:{{articleDetail.collectNumber}}</div>
    </section>
  </nb-card-header>
  <nb-card-body>
    <ngx-md [data]="articleDetail.content" class="md"></ngx-md>
  </nb-card-body>
  <div class="article-around">
    <div class="item hover">上一篇:四代火影VS柱间,金色闪光能否取得胜利?</div>
    <div class="item hover">下一篇:论二战对美国经济崛起的影响</div>
  </div>
  <nb-card-footer>
    <nb-actions size="large">
      <nb-action class="hover">
        <app-svg [type]="'greate-hollow'"></app-svg>
        <span class="action">点赞</span>
      </nb-action>
      <nb-action class="hover">
        <app-svg [type]="'comment'"></app-svg>
        <span class="action">评论</span>
      </nb-action>
      <nb-action class="hover" (cbOnSuccess)="copied()" ngxClipboard [cbContent]="copyContent">
        <app-svg [type]="'share'"></app-svg>
        <span class="action">分享</span>
      </nb-action>
      <nb-action class="hover" (click)="collect()">
        <ng-container *ngIf="!hasCollection">
          <app-svg [type]="'collect-hollow'"></app-svg>
          <span class="action">收藏</span>
        </ng-container>
        <ng-container *ngIf="hasCollection">
          <app-svg [type]="'collect-solid'"></app-svg>
          <span class="action">已收藏</span>
        </ng-container>
      </nb-action>
    </nb-actions>
  </nb-card-footer>
</nb-card>
