<h1 id="title" class="title">注册</h1>
<form (ngSubmit)="register()" #form="ngForm" aria-labelledby="title">

  <div class="form-control-group">
    <label class="label" for="input-nickname" class="required">昵称:</label>
    <input nbInput fullWidth [(ngModel)]="user.nickname" #nickname="ngModel" name="nickname" id="input-nickname"
      placeholder="请输入1~8位昵称" [maxlength]="8"
      [status]="nickname.dirty ? (nickname.invalid  ? 'danger' : 'success') : ''"
      [attr.aria-invalid]="nickname.invalid && nickname.touched ? true : null" required>
    <ng-container *ngIf="nickname.invalid && nickname.touched">
      <p class="error-message" *ngIf="nickname.errors?.required">
        必填项!
      </p>
    </ng-container>
  </div>

  <div class="form-control-group">
    <label class="label" for="input-phone" class="required">手机:</label>
    <input nbInput fullWidth [(ngModel)]="user.phone" #phone="ngModel" name="phone" id="input-phone"
      pattern="1[0-9]{10}" placeholder="请输入11位手机号" [status]="phone.dirty ? (phone.invalid  ? 'danger' : 'success') : ''"
      [attr.aria-invalid]="phone.invalid && phone.touched ? true : null" required>
    <ng-container *ngIf="phone.invalid && phone.touched">
      <p class="error-message" *ngIf="phone.errors?.required">
        必填项!
      </p>
      <p class="error-message" *ngIf="phone.errors?.pattern">
        手机号必须是11位.
      </p>
    </ng-container>
  </div>

  <div class="form-control-group">
    <label class="label" for="input-password" class="required">密码:</label>
    <input nbInput fullWidth [(ngModel)]="user.password" #password="ngModel" name="password" type="password"
      id="input-password" placeholder="请输入6~16位密码"
      [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : ''" required [minlength]="6"
      [maxlength]="16" [attr.aria-invalid]="password.invalid && password.touched ? true : null">
    <ng-container *ngIf="password.invalid && password.touched ">
      <p class="error-message" *ngIf="password.errors?.required">
        必填项!
      </p>
      <p class="error-message" *ngIf="password.errors?.minlength || password.errors?.maxlength">
        密码至少需要6位,至多为16位.
      </p>
    </ng-container>
  </div>
  <section *ngIf="moreInfo">
    <div class="form-control-group">
      <label class="label" for="input-realname">真实姓名:</label>
      <input nbInput fullWidth [(ngModel)]="user.realname" name="realname" type="text" id="input-realname"
        [maxlength]="32">
    </div>
    <div class="form-control-group">
      <label class="label" for="input-email">邮箱:</label>
      <input nbInput fullWidth [(ngModel)]="user.email" name="email" type="text" id="input-email" [maxlength]="32">
    </div>
    <div class="form-control-group">
      <label class="label" for="input-liveCity">现居城市:</label>
      <input nbInput fullWidth [(ngModel)]="user.liveCity" name="liveCity" type="text" id="input-liveCity"
        [maxlength]="32">
    </div>
    <div class="form-control-group">
      <label class="label" for="input-hometown">家乡:</label>
      <input nbInput fullWidth [(ngModel)]="user.hometown" name="hometown" type="text" id="input-hometown"
        [maxlength]="32">
    </div>
    <div class="form-control-group">
      <label class="label" for="input-univercity">毕业院校:</label>
      <input nbInput fullWidth [(ngModel)]="user.univercity" name="univercity" type="text" id="input-univercity"
        [maxlength]="32">
    </div>
    <div class="form-control-group">
      <label class="label" for="input-eduacation">学历:</label>
      <input nbInput fullWidth [(ngModel)]="user.eduacation" name="eduacation" type="text" id="input-eduacation"
        [maxlength]="32">
    </div>
    <div class="form-control-group">
      <label class="label" for="input-company">公司:</label>
      <input nbInput fullWidth [(ngModel)]="user.company" name="company" type="text" id="input-company"
        [maxlength]="32">
    </div>
    <div class="form-control-group">
      <label class="label" for="input-birth">出生日期:</label>
      <input nbInput fullWidth [(ngModel)]="user.birth" name="birth" type="text" id="input-birth" [maxlength]="32">
    </div>
  </section>
  <div class="form-control-group accept-group">
    <nb-checkbox name="terms" #contrast>
      阅读并接受
      <a href="javascript:;" (click)="checkContrast()"><strong>《Oreo隐私权保护声明》</strong></a>
    </nb-checkbox>
    <a class="forgot-password" href="javascript:;" (click)="moreInfo = !moreInfo" *ngIf="!moreInfo">想让作者更了解你?</a>
    <a class="forgot-password" href="javascript:;" (click)="moreInfo = !moreInfo" *ngIf="moreInfo">了解个毛?没兴趣!</a>
  </div>
  <button nbButton fullWidth status="success" [disabled]="!contrast._value || submitted || !form.valid"
    [class.btn-pulse]="submitted">
    注册
  </button>
</form>

<section class="another-action" aria-label="Login">
  已有帐号? <a class="text-link" routerLink="/auth/login">登陆</a>
</section>
