.list-card {
    nb-card-header {
        border-bottom: none;
    }

    nb-card-body {
        padding: 0;
    }
}

nb-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    .info {
        display: flex;

        .info-item {
            display: flex;
            align-items: center;
            width: 45px;

            &:not(:first-child) {
                margin-left: 24px;
            }
        }
    }
}