<nb-card class="list-card">
  <nb-card-header>{{name}}</nb-card-header>
  <nb-card-body>
    <nb-list>
      <nb-list-item *ngFor="let item of items" (click)="checkArticle(item.id)">
        {{ item.name }}
        <span class="info">
          <div class="info-item">
            <app-svg type="great-solid"></app-svg>
            {{random}}
          </div>
          <div class="info-item">
            <app-svg type="collect-solid"></app-svg>
            {{ item.userAmount }}
          </div>
          <div class="info-item">
            <app-svg type="comment"></app-svg>
            {{ item.commentAmount }}
          </div>
        </span>
      </nb-list-item>
      <nb-list-item *ngIf="items.length==0">
        暂时麻油想好该写点啥~
      </nb-list-item>
    </nb-list>
  </nb-card-body>
</nb-card>