// global font size
html {
    font-size: 14px;
}

a {
    text-decoration: none !important;
}

.hover {
    cursor: pointer !important;
}

// 下拉框在无选项时与有选项时高度不同，设置为统一高度
nb-select button {
    height: 38.5px;
}

// 去除侧边栏点击时的虚线
::ng-deep nb-menu a {
    outline: none;
}
// dialog底部按钮组统一样式
.dialog-button-group {
    display: flex;
    justify-content: flex-end;
    button {
        margin-left: 10px;
    }
}
