<nb-card [style.width.px]="600" [style.height]="auto">
  <nb-card-header>
    <ng-container *ngIf="operation==='create'">
      新增
    </ng-container>
    <ng-container *ngIf="operation==='edit'">
      编辑
    </ng-container>
  </nb-card-header>
  <nb-card-body>
    <form #form="ngForm" autocomplete="off">
      <div class="form-group">
        <label for="title">栏目名称</label>
        <input required type="text" class="form-control" id="title" name="title" [(ngModel)]="title">
      </div>
      <div class="form-group">
        <label for="keywords">关键词</label>
        <input
          type="text"
          class="form-control"
          name="newKeyword"
          [placeholder]="'按回车键录入关键词'"
          [(ngModel)]="newKeyword"
          (keyup.enter)="add()">
        <div class="keywords-container">
          <span class="keywords" *ngFor="let item of keywords;let index = index;">
            {{item}}
            <span data-role="remove" class="hover" (click)="keywords.splice(index, 1)">×</span>
          </span>
        </div>
      </div>
    </form>
  </nb-card-body>
  <nb-card-footer class="dialog-button-group">
    <button nbButton status="primary" (click)="ref.close()">取消</button>
    <button nbButton status="success" (click)="submit()" [disabled]="form.invalid">确定</button>
  </nb-card-footer>
</nb-card>