<nb-card class="list-card">
  <nb-card-body>
    <nb-list>
      <nb-list-item *ngFor="let item of items" (click)="checkArticle(item.id)">
        {{ item.name }}
        <span class="info">
          <div class="info-item">
            <app-svg type="great-solid" right="4px"></app-svg>
            {{ item.likeAmount }}
          </div>
          <div class="info-item">
            <app-svg type="collect-solid" right="4px"></app-svg>
            {{ item.collectAmount }}
          </div>
          <div class="info-item">
            <app-svg type="comment" right="4px"></app-svg>
            {{ item.commentAmount }}
          </div>
        </span>
      </nb-list-item>
      <nb-list-item *ngIf="items.length==0">
        你真是懒的一b, 一个收藏也没有.
      </nb-list-item>
    </nb-list>
  </nb-card-body>
</nb-card>