<nb-card>
  <nb-card-header>
    类别概览
  </nb-card-header>
  <nb-card-body [nbSpinner]="loading" nbSpinnerMessage="加载中..." nbSpinnerSize="large">
    <form class="form-inline filter">
      <div class="filter-input">
        <input type="text" nbInput placeholder="搜索类别名称" (keyup)="fetchTableList$.next()" [(ngModel)]="filterName" name="filterName">
      </div>
      <div class="filter-button-group">
        <button nbButton status="success" (click)="create()">新增</button>
        <button nbButton status="warning" (click)="edit()">编辑</button>
        <button nbButton status="danger" (click)="delete()">删除</button>
      </div>
    </form>
    <ng2-smart-table [attr.class]="'text-center'" [settings]="settings" [source]="source"
      (userRowSelect)="onRowSelect($event)">
    </ng2-smart-table>
  </nb-card-body>
</nb-card>
