<h1 id="title" class="title">登陆</h1>
<form #form="ngForm" aria-labelledby="title" (ngSubmit)="login()">
  <div class="form-control-group">
    <label class="label" for="input-phone">手机:</label>
    <input
      #phone="ngModel"
      nbInput
      fullWidth
      autofocus
      required
      name="phone"
      id="input-phone"
      pattern="1[0-9]{10}"
      placeholder="请输入11位手机号"
      [status]="phone.dirty ? (phone.invalid  ? 'danger' : 'success') : ''"
      [attr.aria-invalid]="phone.invalid && phone.touched ? true : null"
      [(ngModel)]="user.phone">
    <ng-container *ngIf="phone.invalid && phone.touched">
      <p *ngIf="phone.errors?.required" class="error-message">
        必填项!
      </p>
      <p *ngIf="phone.errors?.pattern" class="error-message">
        手机号必须是11位.
      </p>
    </ng-container>
  </div>

  <div class="form-control-group">
    <label class="label" for="input-password">密码:</label>
    <input
      #password="ngModel"
      nbInput
      fullWidth
      required
      name="password"
      type="password"
      id="input-password"
      placeholder="请输入6~16位密码"
      [status]="password.dirty ? (password.invalid  ? 'danger' : 'success') : ''"
      [minlength]="6"
      [maxlength]="16"
      [attr.aria-invalid]="password.invalid && password.touched ? true : null"
      [(ngModel)]="user.password">
    <ng-container *ngIf="password.invalid && password.touched ">
      <p class="error-message" *ngIf="password.errors?.required">
        必填项!
      </p>
      <p class="error-message" *ngIf="password.errors?.minlength || password.errors?.maxlength">
        密码至少需要6位,至多为16位.
      </p>
    </ng-container>
  </div>

  <div class="form-control-group accept-group tip-container">
    <a href="javascript:;" class="forgot-password" (click)="forgetPassword()">忘记密码?</a>
  </div>

  <button nbButton fullWidth status="success" [disabled]="submitted || !form.valid" [class.btn-pulse]="submitted">
    登陆
  </button>
</form>

<section class="another-action" aria-label="Register">
  尚未拥有帐号? <a class="text-link" routerLink="../register">注册</a>
</section>

<section class="another-action" aria-label="Register">
  <a class="text-link" routerLink="visit">暂不登录</a>
</section>
